/* variables */
/* $color-purple: #cc4397;
$color-purple-dark: #4f4fff;
$color-blue: #497aff;
$color-orange: #ffa513;
$color-orange-bright: #ff8c5b;
$color-black: #000000;
$color-white: #ffffff; */

/* common */
html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 1.55;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6,
.heading {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 20px;
  letter-spacing: -0.03em;
  color: #000;
}

p {
  margin: 0 0 20px 0;
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}

a:hover,
a:active,
a:focus {
  color: green;
}

img {
  margin: 0;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*
  FORMS
*/

form {
  font-family: 'Sanchez', serif;
}

input,
textarea {
  border-radius: 2px;
  border: solid;
  border-color: black;
  border-width: 1px;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
}

input:hover,
textarea:hover,
.label:hover {
  border-color: cadetblue;
}

input:focus,
textarea:focus,
.label:focus {
  outline: none;
}

input {
  display: block;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin: 10px;
}

textarea {
  font-family: "Helvetica", sans-serif;
  width: 100%;
  resize: vertical;
}

.label {
  font-weight: 600;
  margin-bottom: 20px;
}

.label.required::after {
  content: "*";
  margin-left: 5px;
}

/*
  BUTTONS
*/

button,
.button {
  font-family: "Helvetica", sans-serif;
  background-color: cadetblue;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  padding: 8px 12px;
  width: auto;
  min-width: 120px;
  cursor: default;
  border: 1px solid cadetblue;
  border-radius: 6px;
  text-align: center;
}

/*
  FORM - CONTACT
*/

.form-contact {
  width: 40%;
  margin: 60px auto;
}

.form-contact .label {
  font-style: italic;
  color: #4d4d4d;
  font-size: 16px;
  margin: 0 0 7px 0;
}

.form-contact .input-wrapper input {
  width: 70%;
  display: inline-block;
}

.form-contact .input-wrapper .label {
  float: left;
  width: 30%;
  display: inline-block;
  font-size: 22px;
  font-style: normal;
}

/*
  FORM - SUBSCRIBE
*/

.form-subscribe-wrapper {
  max-width: 600px;
  text-align: left;
  margin: 40px 0 60px;
}

.form-subscribe {
  color: lightgray;
}

.form-subscribe .input-wrapper input {
  width: 65%;
  display: inline-block;
}

.form-subscribe .input-wrapper .label {
  float: left;
  width: 15%;
}

.form-subscribe .input-wrapper .label-checkbox {
  width: auto;
  float: none;
}

.form-subscribe .input-wrapper input[type="checkbox"] {
  width: auto;
}

.form-subscribe .button {
  display: inline-block;
  margin-top: 20px;
}

.form-subscribe .success,
.form-subscribe .error {
  display: none;
  margin-left: 10px;
}

.form-subscribe .error {
  color: red;
}

.form-subscribe input.error {
  box-shadow: 0 0 0 2px red;
}

/*
  GENERAL
*/

.site-header,
.content-wrapper,
.site-footer {
  box-sizing: inherit;
}

.link {
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.page-title {
  /* font-family: 'Fascinate', cursive; */
  /* font-family: 'Righteous', cursive; */
  /* letter-spacing: 1.2px; */
  margin: 0px 20px 60px;
  text-align: center;
  text-decoration: underline;
  color: cadetblue;
  font-size: 24px;
}

.blog .content {
  margin: 60px;
}

/*
  HEADER
*/

.site-header {
  height: 200px;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1260px;
}

.logo-container {
  display: inline-block;
  width: 48%;
}

.site-logo {
  width: 100px;
  height: 100px;
}

.site-nav {
  display: inline-block;
  text-align: right;
  width: 50%;
}

.site-nav a {
  margin: 15px;
}

/*
  CONTENT
*/

.content-wrapper {
  overflow: hidden;
  padding-bottom: 80px;
  /* min-height: 100%; */
  margin: 0 auto;
  max-width: 1260px;
}

.content-wrapper h1,
.content-wrapper .heading {
  font-size: 20px;
}

.content-left,
.content-right {
  display: inline-block;
  width: 50%;
}

.content-left {
  width: 60%;
}

.content-right {
  width: 35%;
  vertical-align: top;
  margin-left: 0 0 0 auto;
}

/*
  SECTION - ASIDE
*/

.section-aside .content-wrapper {
  width: 70%;
  margin: 0 0 0 auto;
}

.section-aside h1 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
}

.section-aside .list {
  margin-top: 40px;
}

.section-aside .list h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}

.section-aside .list p {
  margin-bottom: 10px;
  margin-left: 8px;
}

/*
  SECTION - BLOG PREVIEW
*/

.section-blog img {
  width: 40%;
}

.section-blog .summary {
  display: inline-block;
  width: 50%;
  margin-left: 30px;
  vertical-align: top;
}

.section-blog .summary a {
  text-decoration: underline;
}

/*
  HERO IMAGE
*/

.hero-image {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  background-color: gray;
}

.hero-image img {
  position: absolute;
  top: -184px;
}

.hero-image .page-title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

/*
  BANNER
*/

.banner {
  font-family: 'Righteous', cursive;
  position: fixed;
  min-height: 65px;
  bottom: 0;
  left: 0;
  background: cadetblue;
  color: yellow;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.banner .banner-content {
  position: relative;
  margin: 0 auto;
  max-width: 1260px;
}

.banner .close {
  position: absolute;
  top: -15px;
  right: 0;
  cursor: pointer;
}

.banner p {
  margin: 20px 0;
}

.banner.hide {
  display: none;
}

/*
  FOOTER
*/

.site-footer {
  min-height: 150px;
  background: #081c2b;
  color: #fff;
  text-align: center;
}

.site-footer-container {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1260px;
  text-align: left;
  position: relative;
}

.site-footer h1 {
  text-align: left;
  margin-bottom: 40px;
  color: lightgray;
  text-transform: uppercase;
}

.site-footer .cta {
  position: absolute;
}

.site-footer .copyright {
  font-size: 11px;
  text-align: right;
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover,
.site-footer a:active {
  color: gray;
}